<p><strong>Comands to use in command line:</strong></p>
<br/>
<p>Install the Angular CLI:<strong> $ npm install @angular/cli -g</strong></p>
<p>Create an Angular project (like this example, using Sass styling and routing):<strong> $ ng new ProjectName --style=scss --routing</strong></p>
<br/>
<p>Open the project:<strong> $ cd ProjectName</strong></p>
<p>Execute the project:<strong> $ ng serve --open</strong></p>
<br/>
<p>Creating a new Component:<strong> $ ng generate component home</strong></p>
<p>Creating a new Component (other option):<strong> $ ng g c home</strong></p>
<br/>
<p>Install the Animation Library:<strong> $ npm install @angular/animations@latest --save</strong></p>
<br/>
<p>Create the Service File:<strong> $ ng generate service data</strong></p>
<br/>
<p><a href="" (click)="sendMeHome()">Take me <strong>home</strong></a>.</p>
<br/>
